#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.app-container {
  display: flex;
  padding: 20px;
}

.main-container {
  flex-grow: 1;
}

.banlist-container {
  width: 200px; /* Set a fixed width for the ban list */
  margin-left: 20px;
  background-color:black;
  border-radius: 5PX;
 
}

.banned-movie {
  background-color: #ffebee; /* Light red background for banned movies */
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  color: black;
}
.favourite-container{
  background-color: #888;
  width: 200px; /* Set a fixed width for the ban list */
  margin-left: 20px;
  border-radius: 5PX;
}